<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap" rel="stylesheet">

	<!-- Naše vlastní CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">

		<header class="header">
			<div class="header__contact">
				<a class="header__contact-email" href="mailto:penzion@uvody.cz">penzion@uvody.cz</a>
				<span class="header__contact-phone">Tel. +420 123 456 789</span>
			</div>

			<div class="header__inner">
				<div class="header__left">
					<div class="header__logo">Penzion u vody</div>

					<div class="header__address">
						<img class="header__stars" src="images/3stars.svg" alt="3 hvězdičky">
						Ulice 42, Městečko
					</div>
				</div>

				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
						<li class="menu__item"><a href="/pokoje/" class="menu__link">Pokoje</a></li>
						<li class="menu__item"><a href="/vybaveni/" class="menu__link">Vybavení</a></li>
						<li class="menu__item"><a href="/galerie/" class="menu__link">Galerie</a></li>
						<li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
					</ul>
				</nav>
			</div>

			<div class="header__image"></div>
		</header>

		<main class="main">

			{{ content | safe }}

        </main>
		<footer class="footer">
			<div class="footer__grid">
				<div class="footer__grid-column">
					<h2>Obce v okolí</h2>
					<ul class="footer__links">
						<li><a href="#">Vesnička pod Horou</a></li>
						<li><a href="#">Stará Osada</a></li>
						<li><a href="#">Kamenný Mlýn</a></li>
						<li><a href="#">Horní Vesnice</a></li>
						<li><a href="#">Slunečný Dvůr</a></li>
						<li><a href="#">Jezerní Město</a></li>
					</ul>
				</div>

				<div class="footer__grid-column">
					<h2>Tipy na výlety</h2>
					<ul class="footer__links">
						<li><a href="#">Horská pevnost</a></li>
						<li><a href="#">Projížďka po jezeře</a></li>
						<li><a href="#">Skalní město</a></li>
						<li><a href="#">Solná jeskyně</a></li>
						<li><a href="#">Lanovkou na vrchol</a></li>
						<li><a href="#">Na kole okolo jezera</a></li>
					</ul>
				</div>

				<div class="footer__grid-column">
					<h2>Kontakt</h2>
					<p>
						<span class="footer__title">Telefon:</span><br>
						+420 123 456 789
					</p>
					<p>
						<span class="footer__title">E-mail:</span><br>
						<a href="mailto:penzion@uvody.cz">penzion@uvody.cz</a>
					</p>
				</div>
			</div>

			<div class="footer__copyright">
				&copy;2021, Czechitas
			</div>
		</footer>


	</div><!-- .wrapper -->
</body>
</html>